.displayTableFrame {
	width: 100%;
	height: 310px;
	overflow: auto;
	overflow-x: hidden;
}

.dataTable { 
	text-decoration: none; 
	border: 1px solid #CCC; 
	width: 100%; 
} 

.dataTable th { 
	top: expression(document.getElementById("displayTableFrame").scrollTop-2); 
	padding: 1px 2px 1px 2px !important; 
	text-align: center; 
	border-spacing: 0px; 
} 

.dataTable td { 
	padding: 1px 2px 1px 2px !important; 
} 

.dataTable thead tr { 
	position: relative; 
	height: 10px; 
	background-color: #000066;
	color: white; font-weight: bold; 
} 

.dataTable tbody { 
	height: 240px; 
	overflow-x: hidden; 
} 

.dataTable tbody tr { 
	width: inherit; 
	height: auto; 
	white-space: nowrap; 
	height: auto; 
} 

.dataTable tbody tr.odd { 
	background-color: #eee 
} 

.dataTable tbody tr.tableRowEven,tr.even { 
	background-color: #ddd 
} 

.dataTable tbody tr td:last-child { 
	padding-right: 1px; 
} 

.dataTable tbody td { 
	padding: 1px 2px 1px 2px !important; 
} 

.dataTable .order1 { 
	background-position: right 50%; 
	background-image: url('../imagenes/arrow_up.gif'); 
	background-repeat: no-repeat 
} 

.dataTable .order2 { 
	background-position: right 50%; 
	background-image: url('../imagenes/arrow_down.gif'); 
	background-repeat: no-repeat 
}